body {
	font-family: monospace;
}

p {
	margin: 0.5em;
	margin-left: 0;
}

ul.nav {
	margin: 1em;
	padding: 0.4em;
}

ul.nav li {
	list-style: none;
	display: inline;
	margin: 1em;
}

div.content {
	margin: 1em;
}

div.faq_question {
	font-weight: bold;
}

div.faq_answer {
	margin: 0.8em;
	margin-bottom: 2em;
}

span.highlight {
	font-weight: bold;
}

div#updated {
	position: absolute;
	bottom: 1em;
	left: 0.3em;
}

div#iewarning {
	position: absolute;
	bottom: 0em;
	left: 0.3em;
}

div#validation {
	position: absolute;
	bottom: 0em;
	right: 0em;
}
