body {
	font-family: monospace;
}

p {
	margin: 0.5em;
	margin-left: 0;
}

ul.nav {
	margin: 1em;
	padding: 0.4em;
}

ul.nav li {
	list-style: none;
	display: inline;
	margin: 1em;
}

div.content {
	margin: 1em;
	margin-bottom: 5em;
}

span.highlight {
	font-weight: bold;
}


div.faq_question {
	font-weight: bold;
}

div.faq_answer {
	margin: 0.8em;
	margin-bottom: 2em;
}

div#updated {
	color: #777;
}

div#iewarning {
	color: #777;
}

div#validation {
	margin-top: 0.5em;
}
